<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <a href= "#"> Sort ascending </a>
    <% @entries.sort.reverse.each do |entry| %>
    <ul>
      <li>
        <a href="<%= entry %>"><%= entry %></a>
      </li>
    </ul>
    <% end %>
  </body>
</html>