<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>blah</title>
  </head>
  <body>
    <%= yield %>
    <% ex = 4%>
    <p>There are <%=count_users%> users with a total of <%=count_interests%> interests.</p>
  </body>
</html>